[submodule "frontend"]
	path = frontend
	url = https://github.com/IagoAffonso/banco-insights-frontend.git
[submodule "bacen_project_v1"]
	path = bacen_project_v1
	url = https://github.com/IagoAffonso/banco-insights
